.duedate_container
{
    max-width: 100%;
    display: flex;
    left:0;
    bottom:100%;
    position: absolute;
    z-index:2;
    .duedate_body
    {
        background-color: #f8fafb;
        border: 1px solid #d6dae2;
        padding: 4px 8px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        .date_picker
        {
            max-height: 300px !important;
            width: 270px !important;
        }
    }
}