
li.li_tag {
    padding: 6px 8px 6px 50px;
    user-select: none;
    cursor:pointer;
    position: relative;
    text-align: left;
    font-size: 0.9rem;
    color: #7c8389;
    display: flex;
    justify-content: space-between;
}
li.li_tag::before
{
    content: '';
    position: absolute;
    height: 1.3rem;
    width: 1.3rem;
    top: 6.5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    // border: 1px solid #c7c7c7;
    background-image: url(../../../assets/images/uncheck.png);
    background-position: center;
    background-size: cover;
    // top: 12px;
    left:18px;
}
li.li_tag.completed
{
    text-decoration: line-through;
    color: #555;
}
li.li_tag.completed::before
{
    height: 1.6rem;
    width: 1.6rem;
    background-image: url(../../../assets/images/check.jpg);
}