.form_submit_container
        {
            width:50%;
            margin: auto;
            .form_submit_body
            {
                width:70%;
                margin:auto;
                padding: 1rem 2rem 2rem 2rem;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                box-shadow: -10px 10px 30px 1px  #c2dbff;
                &>.welcome_greeting
                    {
                    text-align: center;
                    font-size:1.5rem;
                    margin-bottom: 1.3rem;
                    color:#2d2d59;
                }
                &>p
                {
                    margin-top:2rem;
                    text-align: center;
                    &>.change_page_link
                        {
                            color: #2d2d59;
                            text-decoration: none;
                        }
                }
            }
        }