.selectgroup_container
{
    display:flex;
    column-gap: 30px;
    justify-content: space-between;
    .form_item_group
    {
        flex:1;
        display:flex;                       
        flex-direction: column;
        row-gap: 10px;
        .title_label
        {
            text-align: left;
            font-weight: 600;
            font-size: 0.9rem;
        }
        .select_options
        {
            outline:none;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            padding: 10px;
            border: 1px solid #cbcbcb;
            cursor:pointer;
        }
    }
}