li.menu_item_li{
    margin-top:1rem;
    cursor:pointer;
   
  .menu_item {
    display:flex;
    align-items: center;
    justify-content: space-between;
    .link_item_container
    {
        display:flex;
        justify-content: space-between;
        .dashboard_icon
        {
            color: orange;
        }
        .allprojects_icon {
            color:#B2A4FF;
        }
        .timelines_icon {
            color: #19A7CE;
        }
        &>span {
            margin-left:5px;
            font-weight: 600;
        }

    }
    .dropdown_icon_container
    {
        display:flex;
        align-items: center;
        .dropdown_icon 
        {
            color: #7c8389;
        }
    }
}

// .dropdown_container
// {
//     display:none;
//     // visibility: visible;
// }
// .dropdown_container.open {
//     display:block;
//     animation: dropdown ease-in 0.5s;
//     -webkit-animation: dropdown ease-in 0.5s;
// }
@keyframes dropdown {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
   
}